@page
@model ClientApp.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/forms.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        #successPopUp {
            display: none;
            position: fixed;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border: 1px solid #ccc;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
        }

        .modal-title {
            font-size: 18px;
            margin: 0;
        }

        .close {
            cursor: pointer;
            background: none;
            border: none;
            font-size: 20px;
            color: #000;
        }

        .modal-body {
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="modal fade" id="successPopUp" tabindex="-1" aria-labelledby="successPopUpLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successPopUpLabel">Email Successfully Verified</h5>
                    <button type="button" class="btn-close" onclick="closePopup()" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Now let's create your profile.</p>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-md bg-dark">
        <div class="container-xxl">
            <a href="#intro" class="navbar-brand">
                <span class="fw-bold text-white">
                    Spark
                </span>
            </a>
            <!-- toggle button-->
            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--navbar links-->
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="navbar-nav ms-auto align-items-end">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-page="/About" asp-route-handler="OnGet" asp-route-guid=@Model.Guid>About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-page="/Home" asp-route-handler="OnGet" asp-route-guid=@Model.Guid>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-page="/User" asp-route-handler="OnGet" asp-route-guid=@Model.Guid>Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/About">Log out</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col">
                <div class="wrapper mx-auto">
                    <div class="title-text">
                        <div class="title">Profile</div>
                    </div>

                    <!-- storage for forms -->
                    <div class="form-container">

                        <div class="form-inner">
                            <!-- login form -->
                            <form method="post"  asp-page-handler="Submit">
                                <div class="field">
                                    <label for="name">Name and Surname:</label>
                                    <input type="text" name="Name" id="name" value="@Model.Name" placeholder="Name" required>
                                </div>
                                @if (TempData.ContainsKey("MessageName"))
                                {
                                    <div class="message" style="color: red;">
                                        <p>@TempData["MessageName"]</p>
                                    </div>
                                }
                                <div class="field mt-4">
                                    <label for="username">Username:</label>
                                    <input type="text" id="username" name="Username" onchange="@Model.UsernameChanged()" value="@Model.Username" placeholder="Username" required>
                                </div>
                                @if (TempData.ContainsKey("MessageUsername"))
                                {
                                    <div class="message" style="color: red;">
                                        <p>@TempData["MessageUsername"]</p>
                                    </div>
                                }
                                <div class="field">
                                    <label class="mt-3" for="bio">Bio:</label>
                                    <input  type="text" id="bio" name="Bio" value="@Model.Bio" placeholder="Bio">
                                </div>
                                <div class="field mt-5">
                                    <label class="mt-1" for="date">Date of Birth:</label>
                                    <input type="date" id="date" name="DateOfBirth" value="@Model.DateOfBirth" placeholder="Date of Birth">
                                </div>
                               
                                <div class="field mt-5 mb-3" id="profilePictureContainer" style="display: flex; align-items: center;">
                                    <!-- Button with embedded image to trigger file input -->
                                    <label class="mt-5" for="profilePictureInput" style="cursor: pointer;">
                                        <button class="mt-4" type="button" onclick="triggerProfilePictureInput()">
                                            <img src="/images/profile.png" alt="Profile Picture" id="selectedImage" style="max-width:100px; max-height:100px">

                                        </button>
                                    </label>
                                    <input class="mt-4" type="file" id="profilePictureInput" name="ProfilePicture" value="@Model.ProfilePicture" accept="image/*" style="display: none;" onchange="displaySelectedImage()">
                                </div>
                                <div class="field btn mt-5">
                                    <div class="btn-layer"></div>
                                    <input type="submit" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (Model.ShowPopUp)
    {
        <script>
            // Show the success popup when the page loads
            document.addEventListener("DOMContentLoaded", function () {
                showPopup();
            });
            document.addEventListener("click", function (event) {
                closePopup();
            });
            // Function to show the popup
            function showPopup() {
                var popup = document.getElementById("successPopUp");
                popup.style.display = "block";
            }

            // Function to close the popup
            function closePopup() {
                var popup = document.getElementById("successPopup");
                popup.style.display = "none";
            }

        </script>
    }

    <script>

        // Function to trigger the hidden file input when the button is clicked
        function triggerProfilePictureInput() {
            document.getElementById('profilePictureInput').click();
        }

        // Function to display the selected image
        function displaySelectedImage() {
            var input = document.getElementById('profilePictureInput');
            var image = document.getElementById('selectedImage');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    image.src = e.target.result;
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    

</body>
</html>





